<div class="UI-body">
  <div id="toolbar" class="navbar">
    <div class="navbar-inner">
      <!--<a class="brand" href="#">Actions</a>-->
      <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
      </form>
      <div class="btn-group" style="float: right">
        <button class="btn" data-toggle="button">
          <i class="fa fa-group"></i>
          Generate Users
        </button>
        <button class="btn" data-toggle="button">
          <i class="fa fa-check-square"></i>
          Select All
        </button>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th style="text-align: center;"></th>
    </tr>
    </thead>
    <tbody>
    <%= form_tag do %>
        <% @orphans.each do |organization| %>
            <tr id="<%= organization.id %>">
              <td><%= link_to organization.name, organization_path(organization) %></td>
              <td><%= organization.email %></td>
              <td class="response" style="text-align: center;">
                <% if organization.users.any? %>
                    <%= organization.users.first.reset_password_token %>
                <% else %>
                    <%= check_box_tag 'organization_id', organization.id %>
                <% end %>
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
