<ul class="nav nav-tabs">
  <li><a href="#">All</a></li>
  <li class="active">
    <a href="#" >Without Users</a>
  </li>
  <li><a href="#">With Generated Accounts</a></li>
</ul>
<!--<div class="UI-header">-->

<!--</div>-->
<div class="UI-body">

  <div class="navbar">
    <div class="navbar-inner">
      <!--<a class="brand" href="#">Actions</a>-->
      <div class="btn-group" style="float: right">
        <button class="btn">Generate Users</button>
        <button class="btn" data-toggle="button">Select All</button>
        <button class="btn" data-toggle="button">Select None</button>
      </div>
      <!--<ul class="nav" >-->
        <!--<li class="active"><a href="#">Organizations</a></li>-->
        <!--<li><a href="#">Users</a></li>-->
      <!--</ul>-->
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th style="text-align: center;">
        Select All
      </th>
    </tr>
    </thead>
    <tbody>
    <% @orphans.each do |organization| %>
        <tr id="<%= organization.id %>">
          <td><%= link_to organization.name, organization_path(organization) %></td>
          <td><%= organization.email %></td>
          <td class="response" style="text-align: center;">
            <% if organization.users.any? %>
                <%= organization.users.first.reset_password_token %>
            <% else %>
                <%= link_to(fa_icon 'plus', class: 'generate_user btn btn-default') %>
                <span></span>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
