<%= form_tag("/organizations/search", :method => "get") do %>
    <div class='controls' id='customsearch' style="margin-top: 15px;">
      <div class="input-prepend dropdown input-append" data-select="true">
        <a class='add-on dropdown-toggle' data-toggle='dropdown' href='#'>
          <span class='dropdown-display'>Category</span><i class='caret'></i>
        </a>
        <%= text_field_tag(:q , @query_term || '', {:style => 'width: 240px;', :placeholder => "optional search name/description" }) %>
        <input type='hidden' class='dropdown-field' id="category_id" name="category[id]" />
        <ul id='cat_select' class='dropdown-menu'>
          <li>
            <%= link_to 'All', '#', :data => {:value =>" "}%>
          </li>
          <% @category_options.each do |category| %>
                <li>
                  <%= link_to category[0], '#', :data => {:value =>category[1]} %>
                </li>
          <% end %>
        </ul>
        <%= submit_tag "Search", {:class => 'btn'} %>
      </div>
    </div>
<% end %>
<script>

    /*
     * bootstrap-select.js
     */

    (function($) {

        'use strict'; // jshint ;_;

        $.fn.dropSelect = function(option) {
            return this.each(function() {

                var $this = $(this);
                var display = $this.find('.dropdown-display');        // display span
                var field = $this.find('input.dropdown-field');       // hidden input
                var options = $this.find('ul.dropdown-menu > li > a');// select options

                // when the hidden field is updated, update dropdown-toggle
                var onFieldChange = function(event) {
                    var val = $(this).val();
                    var displayText = options.filter("[data-value='" + val + "']").html();
                    display.html(displayText);
                };

                // when an option is clicked, update the hidden field
                var onOptionClick = function(event) {
                    // stop click from causing page refresh
                    event.preventDefault();
                    field.val($(this).attr('data-value'));
                    field.change();
                };

                field.change(onFieldChange);
                options.click(onOptionClick);

            });
        };

        // invoke on every div element with 'data-select=true'
        $(function() {
            $('div[data-select=true]').dropSelect();
        });

    })(window.jQuery);
</script>